<gallery>


     <items>
          <item>

               <source>https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10457789_10152473669522798_2741382358791962390_n.jpg?oh=7948a089950de042a9d8e4c0859ca177&amp;oe=54BB53C3&amp;__gda__=1424891861_75074f760fb3ed9813ca3b126f601c75</source>
               <description>It's here</description>
          </item>
          <item>

               <source>https://scontent-b.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/935198_10152037257662798_1821272580_n.jpg?oh=e95da23db1738f2cb403b8077d29d3ab&amp;oe=54BE75E5</source>
               <description>I would give everything to go back to these days #tbt #leavers #missthesetimes</description>
          </item>
          <item>

               <source>https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1557490_10151955601777798_949401476_n.jpg?oh=7fdd4b403faf7c4ad25eb2a731641235&amp;oe=54B50F36&amp;__gda__=1422089070_6f553bb6958519878e15a92ffda8e0e4</source>
               <description>#man #versus #pasty #huge #philps #hayle #cornwall #car #friends</description>
          </item>
          <item>

               <source>https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/1506527_10151919865572798_1994631300_n.jpg?oh=3dcce02df5494b99899d8628db2ba050&amp;oe=54F3A0A2&amp;__gda__=1421753469_df1c9881efb53acd967ad93fb5f8473a</source>
               <description>Boyfriends gone away so had to make myself feel better somehow! #no7 #pandora #bags #shopping #happy</description>
          </item>
          <item>

               <source>https://scontent-a.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/1524607_10151905658987798_756607182_n.jpg?oh=c93d6ece2fad5a0992820cfaef70c2b6&amp;oe=54BEC40E</source>
               <description>#powercuts #fun #not #candles #cosy #dark</description>
          </item>
          <item>

               <source>https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/1474658_10151871555187798_305661262_n.jpg?oh=5d5c37184d92a4103294effad885c2be&amp;oe=54BC1EFD&amp;__gda__=1421056294_228454f9a3e7ba002cf9721c62108ed7</source>
               <description>Ever get the feeling someone doesn't want you to do something? #cantwrap #grumpydog #christmas #love</description>
          </item>
          <item>

               <source>https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1239926_10151658620662798_1337284056_n.jpg?oh=ea3360d93c337bb5060cf8024988a94d&amp;oe=54BFC9AD&amp;__gda__=1421495671_64fb4be583e159400abdb217119e9da7</source>
               <description>So spoilt #birthday #ugg #australia #lucky #girl #20 #boyfriend #love #him</description>
          </item>
          <item>

               <source>https://scontent-a.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/485456_10151478270422798_50947168_n.jpg?oh=570886f80f74fd7f7db5b1dfcf892a3d&amp;oe=54B6771C</source>
               <description>#portugal #melia #madeira #mare #fivestar #hotel #46days #luxury #sun #cant #wait</description>
          </item>
          <item>

               <source>https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash2/v/t1.0-9/182525_10151436159442798_2122746691_n.jpg?oh=5f8ff9f70131da7667911960b020cf0b&amp;oe=54BC1FD9&amp;__gda__=1421595158_bd7d5e2efb39423525d0de84cd987993</source>
               <description>#nails #acrylic #white #tips #love</description>
          </item>
          <item>

               <source>https://scontent-a.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/72889_10151407601682798_250776597_n.jpg?oh=ecfb341755bd0bb4dd8beab734ba6b1a&amp;oe=54F8C72F</source>
               <description>#truro #cupcake #yum #heart #love #mini #eggs #easter</description>
          </item>
          <item>

               <source>https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/374331_10151295007117798_31712961_n.jpg?oh=50532ea70841405ed353994f53aaa1ca&amp;oe=54BE55E3&amp;__gda__=1422120242_d92ecd8d5096612216b82d32b78b49d8</source>
               <description>#truro #dress #love #happy #heels</description>
          </item>
          <item>

               <source>https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/309660_10151239083282798_161884456_n.jpg?oh=a4fc1c77fd6e5b2634c7abd7e4d3563e&amp;oe=54B544C1&amp;__gda__=1421973778_2e580ca7b52fb681d54ac6f60be8af97</source>
               <description>#frankie #bennys #bristol #pancakes #bacon #maplesyrup #breakfast #love #cabot #circus</description>
          </item>
     </items>
     <galleryName>Box Gallery</galleryName>
     <settings>









          <thumbCaption>





               <visibleMode>never</visibleMode>
               <fontName>Arial</fontName>
               <bgColor>3355443</bgColor>
               <color>16777215</color>
               <fontSize>9</fontSize>
               <bgAlpha>70</bgAlpha>
          </thumbCaption>
          <image>
               <scaleMode>fit</scaleMode>
          </image>
          <background>

               <transparentBG>1</transparentBG>
               <bgColor>16696685</bgColor>
          </background>
          <colorScheme>




               <imageArrowsColor>16737897</imageArrowsColor>
               <thumbsArrowsColor>16737897</thumbsArrowsColor>
               <imageBGColor>8352087</imageBGColor>
               <useShadow>1</useShadow>
               <thumbsFrameColor>16696685</thumbsFrameColor>
          </colorScheme>
          <thumbnail>


               <height>110</height>
               <width>150</width>
               <alpha>70</alpha>
          </thumbnail>
          <imageCaption>






               <visibleMode>onRollOver</visibleMode>
               <fontName>Arial</fontName>
               <bgColor>0</bgColor>
               <color>16777215</color>
               <position>bottom</position>
               <bgAlpha>30</bgAlpha>
               <fontSize>11</fontSize>
          </imageCaption>
     </settings>
</gallery>
